<!--<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>-->
<script type="text/javascript" src="../../static/plugins/url.min.js"></script>
<script type="text/javascript" src="../../static/plugins/vue.min.js"></script>
<script type="text/javascript" src="../../static/plugins/vue-resource.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/mint-ui/lib/index.js"></script>
<script type="text/javascript" src="../../static/scripts/common.js"></script>
<script type="text/javascript" src="../../static/scripts/@@gulpHdName/@@gulpFileName.js"></script>